.env*
venv
media

*.pyc
*.log
.idea/
/static
/generated-reports

## pycache
/__pycache__
__pycache__/

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
settings.py TAB
